# Android/Gradle genel
*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Android Studio / IDE
.idea/
*.ipr
*.iws
*.bak
*.swp

# Sistem
.DS_Store
Thumbs.db

# Yerel makineye özel
local.properties

# NOT: Gradle wrapper dosyalarını IGNORE ETME!
# (gradle/wrapper/gradle-wrapper.jar ve gradlew/gradlew.bat depoda kalabilir)
