<application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.MiniCast">   <!-- Uygulama geneli AppCompat -->

    <!-- LAUNCHER aktivite: Splash da AppCompat kökenli -->
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.MiniCast.Splash">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <!-- Cast meta-data vb. diğer öğeleriniz burada -->
</application>
